@use '../util' as *;
@use '../globals/fonts.scss' as *;
@use '../globals/colors.scss' as clr;

.c-card {
    $c: &;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
	align-items: center;

    box-shadow: 0 8px 30px rgba(49, 51, 52, 0.356);
    border-radius: 10px;

    @include breakpoint(medium) {
        flex-flow: row nowrap;
    }

    &__hero {
        flex: 1 1 50%;

        @include breakpoint(medium) {
            border-radius: 10px 0 0 10px;
        }
        
        .c-card__img-m {
            display: block;
    
            border-radius: 10px 10px 0 0;
    
            @include breakpoint(medium) {
                display: none;
            }
        }

        .c-card__img-d {
            display: none;
    
            border-radius: 10px 0 0 10px;
                        
            @include breakpoint(medium) {
                display: block;

                object-fit: cover;
            }
        }
    }
    
    &__body {
        flex: 1 1 50%;

        background-color: clr(neutral, white);
        border-radius: 0 0 10px 10px;

        padding: rem(26);

        @include breakpoint(medium) {
            border-radius: 0 10px 10px 0;

            padding-block: rem(50);
            padding-inline: rem(43.7);
        }

        .c-card__tag {
            font-weight: $f-regular;

            color: clr(neutral, dark-grayish-blue);
            
            letter-spacing: 2px;

            text-transform: uppercase;

            margin-bottom: rem(15);
        }

        .c-card__heading {
            font-family: 'Fraunces', serif;
            font-weight: $f-bold;
            font-size: rem(34);

            margin-bottom: rem(15);

            @include breakpoint(medium) {
                font-size: rem(41);

                margin-bottom: rem(25);
            }
        }

        .c-card__desc {
            font-size: rem(15);

            color: clr(neutral, dark-grayish-blue);

            margin-bottom: rem(56);

            @include breakpoint(medium) {
                font-size: rem(18);

                margin-bottom: rem(70);
            }
        }
    }

    &__price {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        margin-bottom: rem(20);

        .c-card__amt {
            font-family: 'Fraunces', serif;
            font-weight: $f-bold;
            font-size: rem(34);

            color: clr(primary, dark-cyan);
        }

        .c-card__orig-amt {
            text-decoration: line-through;

            color: clr(neutral, dark-grayish-blue);

            margin-left: rem(28);
        }
    }

    &__cta {
        display: flex;
        justify-content: center;

        border: 0 solid none;
        padding-block: rem(18);
        padding-inline: rem(90);
        margin: auto 0;

        width: 100%;

        background-image: url('/app/asset/images/icon-cart.svg');
        background-repeat: no-repeat;
        background-position: 30% 50%;
        background-color: clr(primary, dark-cyan);

        box-shadow: 0 8px 30px rgba(101, 104, 107, 0.447);
        border-radius: 10px;
        color: clr(neutral, white);

        transition: all 300ms ease-in-out;

        &:hover {
            cursor: pointer;

            background-color: clr.$cta-hover;
        }

        > p {
            display: inline-block;

            font-weight: $f-bold;

            margin-left: rem(25);
        }

    } 
}